<div class="row">
  <div class="col-sm-3">
    <h5 class="text-uppercase text-primary">Prefix</h5>
    <h6 class="text-warning">All prefixes</h6>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>Prefix</th>
          <th>Symbol</th>
          <th>Factor</th>
          <th>Notation Index</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prefix of units.prefixes" (click)="onSelectPrefix(prefix)" [ngClass]="{'table-active': prefix === selectedPrefix}">
          <th>{{ prefix.prefix }}</th>
          <td>{{ prefix.symbol }}</td>
          <td>{{ prefix.factor }}</td>
          <td>{{ prefix.notationIndex }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-3">
    <h5 class="text-uppercase text-primary">Numerator</h5>
    <div *ngFor="let unitTypeArea of units.unitTypeAreas">
      <h6 class="text-warning">{{ unitTypeArea.name }}</h6>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Notation Index</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unit of unitTypeArea.units" (click)="onSelectNumerator(unit)" [ngClass]="{'table-active': unit === selectedNumerator}">
            <th>{{ unit.name }}</th>
            <td [innerHTML]="unit.symbol"></td>
            <td>{{ unit.notationIndex }}</td>
            <td [innerHTML]="unit.description"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-3">
    <h5 class="text-uppercase text-primary">Denominator</h5>
    <div *ngFor="let unitTypeArea of units.unitTypeAreas">
      <h6 class="text-warning">{{ unitTypeArea.name }}</h6>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Notation Index</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unit of unitTypeArea.units" (click)="onSelectDenominator(unit)" [ngClass]="{'table-active': unit === selectedDenominator}">
            <th>{{ unit.name }}</th>
            <td [innerHTML]="unit.symbol"></td>
            <td>{{ unit.notationIndex }}</td>
            <td [innerHTML]="unit.description"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-3">
    <h5 class="text-uppercase text-success">Unit value</h5>
    <div class="input-group">
      <input type="text" class="form-control" aria-describedby="unit" [(ngModel)]="unitValue">
      <span class="input-group-addon" id="unit" [innerHTML]="unitAddon"></span>
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" ngxClipboard [cbContent]="unitValue">copy</button>
      </span>
    </div>
    <hr/>
    <div class="card" *ngIf="selectedPrefix">
      <div class="card-block text-nowrap">
        <p class="float-xs-right text-uppercase text-primary">Prefix</p>
        <pre style="margin-bottom: 0rem;"><code>{{ selectedPrefix | json }}</code></pre>
      </div>
    </div>
    <div class="card" *ngIf="selectedNumerator">
      <div class="card-block text-nowrap">
        <p class="float-xs-right text-uppercase text-primary">Numerator</p>
        <pre style="margin-bottom: 0rem;"><code>{{ selectedNumerator | json }}</code></pre>
      </div>
    </div>
    <div class="card" *ngIf="selectedDenominator">
      <div class="card-block text-nowrap">
        <p class="float-xs-right text-uppercase text-primary">Denominator</p>
        <pre style="margin-bottom: 0rem;"><code>{{ selectedDenominator | json }}</code></pre>
      </div>
    </div>
  </div>
</div>
