<h2>
  <div class="object-header">
    <strong>0x{{profileObject.objectDescription.index}}</strong>: {{profileObject.objectDescription.name}} <small class="text-muted">{{profileObject.objectDescription.dataType}}</small><br>
    <small>
      <span class="tag tag-primary" placement="bottom" ngbTooltip="Object code: {{profileObject.objectDescription.objectCode}}">{{profileObject.objectDescription.objectCode}}</span>
      <span class="tag tag-warning" placement="bottom" ngbTooltip="Category: {{profileObject.objectDescription.category}}">{{profileObject.objectDescription.category}}</span>
    </small>
  </div>
</h2>

<ngb-tabset>
  <ngb-tab title="Object Description">
    <template ngbTabContent>
      <div [MathJax]="profileObject.description" style="margin-top:15px;"></div>
    </template>
  </ngb-tab>
  <ngb-tab title="Entry Description">
    <template ngbTabContent>
      <table class="table" style="margin-top:15px;">
        <thead>
          <tr>
            <th>Sub-index</th>
            <th>Description</th>
            <th>Entry category</th>
            <th>Access</th>
            <th>PDO mapping</th>
            <th>Value range</th>
            <th>Default value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entryDescription of profileObject.entryDescription">
            <td>{{entryDescription.subIndex}}</td>
            <td [innerHTML]="entryDescription.description"></td>
            <td>{{entryDescription.entryCategory}}</td>
            <td [innerHTML]="entryDescription.access">></td>
            <td>{{entryDescription.pdoMapping}}</td>
            <td [innerHTML]="entryDescription.valueRange"></td>
            <td [innerHTML]="entryDescription.defaultValue"></td>
          </tr>
        </tbody>
      </table>
    </template>
  </ngb-tab>
  <ngb-tab title="Value Definition" *ngIf="profileObject.valueDefinition">
    <template ngbTabContent>
      <div [innerHTML]="profileObject.valueDefinition" style="margin-top:15px;"></div>
    </template>
  </ngb-tab>
</ngb-tabset>
